<div class=mod_securepdf_pageslinks>

{{#previous}}
    <a href="{{previousurl}}"> << </a>
{{/previous}}

{{#pages}}
   <a href="{{url}}" class="{{#is_read}}page-read{{/is_read}} {{^is_read}}page-unread{{/is_read}}">  {{page}}  </a>
{{/pages}}

{{#next}}
    <a href="{{nexturl}}"> >> </a>
{{/next}}

</div>

<img class="mod_securepdf_slide" src="data:image/png;base64, {{base64}}" alt="Page {{page}}" galleryimg="no" onContextMenu="return false;">

<div class=mod_securepdf_pageslinks>

{{#previous}}
    <a href="{{previousurl}}"> << </a>
{{/previous}}

{{#pages}}
   <a href="{{url}}" class="{{#is_read}}page-read{{/is_read}} {{^is_read}}page-unread{{/is_read}}">  {{page}}  </a>
{{/pages}}

{{#next}}
    <a href="{{nexturl}}"> >> </a>
{{/next}}

</div>